<div class="container">
  <form #formularioAlta>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input required type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre">
    </div>

    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido</label>
      <input required type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido">
    </div>

    <div class="mb-3">
      <label for="edad" class="form-label">Edad</label>
      <input type="text" class="form-control" id="edad" name="edad" [(ngModel)]="persona.edad">
    </div>


    <button type="submit" class="btn btn-primary" (click)="guardar()">Grabar</button>
    <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
  </form>
</div>

<label>{{persona | json}}</label>
